<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid justify-content-between">
    <div class="d-flex align-items-center">
      <p class="notice text-center"><%= notice %></p>
      <a href="/"><i class="fa fa-arrow-left"></i></a>
    </div>
    <h1 class= 'navbar-brand' >Forgot Your Password?</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.submit "Reset", id:"login" %>
    </div>
  </nav>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Enter Your Email', class:'login-form' %>
  </div>
<% end %>
